<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo04Aula05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
ind = ['H','M']
col = ['F','C']
dat = [[7,20],[4,9]]
df = pd.DataFrame(data=dat,index=ind,columns=col)
df

   F   C
H  7  20
M  4   9

In [15]:
print(df.loc[:,'C'])
print(df.iloc[:,1])
print(df.iloc[1,:])
print(df.loc[:,['F','C']])
print(df.loc['H':'M','F':'C']) # slicing ==> fatiamento
print(df.iloc[0:1,0:1]) # slicing ==> fatiamento
print(df.iloc[0:2,0:2]) # slicing ==> fatiamento
print(df.iloc[0:1,[0,1]]) # slicing ==> fatiamento

H    20
M     9
Name: C, dtype: int64
H    20
M     9
Name: C, dtype: int64
F    4
C    9
Name: M, dtype: int64
   F   C
H  7  20
M  4   9
   F   C
H  7  20
M  4   9
   F
H  7
   F   C
H  7  20
M  4   9
   F   C
H  7  20