<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo11Aula06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('lite1.db')
cur  = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS store (item TEXT, quantidade INTEGER, price REAL)')
conn.commit()
conn.close()

In [3]:
!pwd # comandos no google drive como se fosse um prompt de comando
!ls

/content
lite1.db  sample_data

In [4]:
conn = sqlite3.connect('lite1.db')
cur  = conn.cursor()
cur.execute("INSERT INTO store VALUES ('Wine Glass', 8, 10.50)")
conn.commit() # atualiza a tabela... se será só leitura, não precisa fazer o 'commit'... veja no código abaixo
conn.close()

In [5]:
conn = sqlite3.connect('lite1.db')
cur  = conn.cursor()
cur.execute("SELECT * FROM store")
rows = cur.fetchall()
conn.close()

rows

[('Wine Glass', 8, 10.5)]

In [6]:
conn = sqlite3.connect('lite1.db')
df = pd.read_sql_query("SELECT * FROM store", conn)
conn.close()
df

         item  quantidade  price
0  Wine Glass           8   10.5

In [9]:
products = ["Porto Wine", "Lemon Water", "Sake"]
quantities = [3,4,7]
prices = [40,4,60]

cont = 0

for i, j, k in zip(products,quantities, prices):
  df.loc[cont] = [i,j,k]
  cont += 1

df

          item  quantidade  price
0   Porto Wine           3   40.0
1  Lemon Water           4    4.0
2         Sake           7   60.0