<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo04Aula11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dado_hist = {
    'Empresa 1': [4,9,6,5],
    'Empresa 2': [9,6,4,15],
    'Empresa 3': [6,4,2,25],
    'Empresa 4': [4,2,4,35],
    'Empresa 5': [2,4,9,45]
} 

df = pd.DataFrame(dado_hist)

In [11]:
print(df)

   Empresa 1  Empresa 2  Empresa 3  Empresa 4  Empresa 5
0          4          9          6          4          2
1          9          6          4          2          4
2          6          4          2          4          9
3          5         15         25         35         45

In [10]:
from IPython.display import display, HTML

display(HTML(df.to_html()))
dfa = df.head(2)
display(HTML(dfa.to_html()))
dft = df.tail(2)
display(HTML(dft.to_html()))