<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo11Aula12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import sqlite3

In [36]:
def create_table(dbname):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  cur.execute("CREATE TABLE IF NOT EXISTS store(item TEXT, quantity INTEGER, price REAL)")
  conn.commit()
  conn.close()

def view(dbname,tabname):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  command = "SELECT * FROM "+tabname
  cur.execute(command)
  rows = cur.fetchall()
  conn.close()
  return rows

def insert(dbname, tabname, item, quantity, price):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  command = "INSERT INTO "+tabname+" VALUES(?,?,?)"
  cur.execute(command,(item, quantity, price))
  conn.commit()
  conn.close()

In [37]:
create_table("lite2.db")
insert("lite2.db","store","Wine Glass", 10, 5)
print(view("lite2.db","store"))

[('Wine Glass', 10, 5.0)]

In [38]:
!pwd
!ls

/content
lite2.db  sample_data

In [39]:
import pandas as pd

In [40]:
def tab2df(dbname, tabname):
  conn = sqlite3.connect(dbname)
  command = "SELECT * FROM " + tabname
  df = pd.read_sql_query(command, conn)
  conn.close()
  return df

In [41]:
df1 = tab2df('lite2.db', 'store')
df1

         item  quantity  price
0  Wine Glass        10    5.0

In [42]:
def addData(df1):
  products = ['Sakê', 'Pinga']
  quantity = [20, 100]
  price = [50.0, 20.0]
  
  cont = 0
  for i,j,k in zip(products,quantity,price):
    df1.loc[cont] = [i, j, k]
    cont += 1
  
  return df1

In [43]:
addData(df1)

    item  quantity  price
0   Sakê        20   50.0
1  Pinga       100   20.0