<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo04Aula02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [9]:
dic = {'Favor': [15,4], 'Contra': [45,36]}

In [11]:
df = pd.DataFrame(dic)
df

   Favor  Contra
0     15      45
1      4      36