<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo04Aula17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dado_hist = {
    'Empresa 1': [4,9,6,5],
    'Empresa 2': [9,6,4,15],
    'Empresa 3': [6,4,2,25],
    'Empresa 4': [4,2,4,35],
    'Empresa 5': [2,4,9,45]
}

df = pd.DataFrame(dado_hist)

In [3]:
df

   Empresa 1  Empresa 2  Empresa 3  Empresa 4  Empresa 5
0          4          9          6          4          2
1          9          6          4          2          4
2          6          4          2          4          9
3          5         15         25         35         45

In [13]:
variancia = df.loc[:,'Empresa 1'].var(ddof=0) # variancia da população = ddof=0; da amostra = ddof=1
print('Variancia - Empresa 1: ', variancia)
desvpad = df.loc[:,'Empresa 1'].std(ddof=0) # desvio padrão da população = ddof=0; da amostra = ddof=1
print('Desvio padrao - Empresa 1: ', desvpad)
media = df.loc[:,'Empresa 2'].mean()
mediana = df.loc[:,'Empresa 2'].median()
moda = df.loc[:,'Empresa 2'].mode()
max = df.loc[:,'Empresa 2'].max()
min = df.loc[:,'Empresa 2'].min()
print('var: ', variancia, 'dp: ', desvpad, 'media: ', media, 'mediana: ', mediana,'moda: ', moda,'max: ', max,'min: ', min)

Variancia - Empresa 1:  3.5
Desvio padrao - Empresa 1:  1.8708286933869707
var:  3.5 dp:  1.8708286933869707 media:  8.5 mediana:  7.5 moda:  0     4
1     6
2     9
3    15
dtype: int64 max:  15 min:  4