<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo04Aula03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dic = {'Favor': [15,4], 'Contra': [45,36]}

In [3]:
df = pd.DataFrame(dic)
df

   Favor  Contra
0     15      45
1      4      36

In [5]:
linhas = {0:"H",1:"M"}
colunas = {'Favor':'F','Contra':'C'}
df = df.rename(index=linhas, columns=colunas)
df

    F   C
H  15  45
M   4  36