<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo04Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
ind = ['H', 'M']
col = ['F', 'C']
dat =[[7,20],[4,9]]
df = pd.DataFrame(data=dat, index=ind, columns=col)
df

   F   C
H  7  20
M  4   9