<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo10Aula17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import requests

headers = {
    'Content-Type': 'application/json;charset=UTF-8',
    'User-Agent': 'google-colab',
    'Accept': 'application/json, text/plain, */*',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7',
    'Connection': 'keep-alive',
}

Ver o endereço: https://servicodados.ibge.gov.br/api/v1/localidades/estados/35/municipios

In [9]:
districts = requests.get("https://servicodados.ibge.gov.br/api/v1/localidades/estados/35/municipios", headers=headers).json()

nome_sp = [municipios["nome"] for municipios in districts]
id_sp   = [municipios["id"] for municipios in districts]
data_sp = pd.DataFrame.from_dict({'ID':id_sp,'MUNICIPIOS':nome_sp})
data_sp

          ID        MUNICIPIOS
0    3500105        Adamantina
1    3500204            Adolfo
2    3500303             Aguaí
3    3500402    Águas da Prata
4    3500501  Águas de Lindóia
..       ...               ...
640  3557006        Votorantim
641  3557105       Votuporanga
642  3557154          Zacarias
643  3557204         Chavantes
644  3557303      Estiva Gerbi

[645 rows x 2 columns]