<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo11Aula03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('lite1.db')
cur  = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS store (item TEXT, quantidade INTEGER, price REAL)')
conn.commit()
conn.close()

In [3]:
!pwd # comandos no google drive como se fosse um prompt de comando
!ls

/content
lite1.db  sample_data

In [5]:
conn = sqlite3.connect('lite1.db')
cur  = conn.cursor()
cur.execute("INSERT INTO store VALUES ('Wine Glass', 8, 10.50)")
conn.commit()
conn.close()