<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo10Aula03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
url = 'https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/main/csv/municipios.csv'
df = pd.read_csv(url)
df

      codigo_ibge                 nome  latitude  longitude  capital  codigo_uf
0         5200050      Abadia de Goiás -16.75730   -49.4412        0         52
1         3100104  Abadia dos Dourados -18.48310   -47.3916        0         31
2         5200100            Abadiânia -16.19700   -48.7057        0         52
3         3100203               Abaeté -19.15510   -45.4444        0         31
4         1500107           Abaetetuba  -1.72183   -48.8788        0         15
...           ...                  ...       ...        ...      ...        ...
5565      2933604          Xique-Xique -10.82300   -42.7245        0         29
5566      2517407               Zabelê  -8.07901   -37.1057        0         25
5567      3557154             Zacarias -21.05060   -50.0552        0         35
5568      2114007              Zé Doca  -3.27014   -45.6553        0         21
5569      4219853               Zortéa -27.45210   -51.5520        0         42

[5570 rows x 6 columns]