<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo11Aula10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import sqlite3

In [7]:
def create_table(dbname):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  cur.execute("CREATE TABLE IF NOT EXISTS store(item TEXT, quantity INTEGER, price REAL)")
  conn.commit()
  conn.close()

def view(dbname,tabname):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  command = "SELECT * FROM "+tabname
  cur.execute(command)
  rows = cur.fetchall()
  conn.close()
  return rows

def insert(dbname, tabname, item, quantity, price):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  command = "INSERT INTO "+tabname+" VALUES(?,?,?)"
  cur.execute(command,(item, quantity, price))
  conn.commit()
  conn.close()

In [8]:
create_table("lite2.db")
insert("lite2.db","store","Wine Glass", 10, 5)
print(view("lite2.db","store"))

[('Wine Glass', 10, 5.0)]

In [10]:
!pwd
!ls

/content
lite2.db  sample_data