<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo11Aula05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import sqlite3
import pandas as pd

In [6]:
conn = sqlite3.connect('lite1.db')
cur  = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS store (item TEXT, quantidade INTEGER, price REAL)')
conn.commit()
conn.close()

In [7]:
!pwd # comandos no google drive como se fosse um prompt de comando
!ls

/content
lite1.db  sample_data

In [8]:
conn = sqlite3.connect('lite1.db')
cur  = conn.cursor()
cur.execute("INSERT INTO store VALUES ('Wine Glass', 8, 10.50)")
conn.commit() # atualiza a tabela... se será só leitura, não precisa fazer o 'commit'... veja no código abaixo
conn.close()

In [9]:
conn = sqlite3.connect('lite1.db')
cur  = conn.cursor()
cur.execute("SELECT * FROM store")
rows = cur.fetchall()
conn.close()

rows

[('Wine Glass', 8, 10.5)]

In [11]:
conn = sqlite3.connect('lite1.db')
df = pd.read_sql_query("SELECT * FROM store", conn)
conn.close()
df

         item  quantidade  price
0  Wine Glass           8   10.5