<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo11Aula16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import sqlite3

In [19]:
def create_table(dbname):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  cur.execute("CREATE TABLE IF NOT EXISTS store(item TEXT, quantity INTEGER, price REAL)")
  conn.commit()
  conn.close()

def view(dbname,tabname):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  command = "SELECT * FROM "+tabname
  cur.execute(command)
  rows = cur.fetchall()
  conn.close()
  return rows

def insert(dbname, tabname, item, quantity, price):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  command = "INSERT INTO "+tabname+" VALUES(?,?,?)"
  cur.execute(command,(item, quantity, price))
  conn.commit()
  conn.close()

In [20]:
create_table("lite2.db")
insert("lite2.db","store","Wine Glass", 10, 5)
print(view("lite2.db","store"))

[('Wine Glass', 10, 5.0)]

In [21]:
!pwd
!ls

/content
lite2.db  sample_data

In [22]:
import pandas as pd

In [23]:
def tab2df(dbname, tabname):
  conn = sqlite3.connect(dbname)
  command = "SELECT * FROM " + tabname
  df = pd.read_sql_query(command, conn)
  conn.close()
  return df

In [24]:
df1 = tab2df('lite2.db', 'store')
df1

         item  quantity  price
0  Wine Glass        10    5.0

In [25]:
def addData(df1):
  products = ['Sakê', 'Pinga']
  quantity = [20, 100]
  price = [50.0, 20.0]
  
  cont = 0
  for i,j,k in zip(products,quantity,price):
    df1.loc[cont] = [i, j, k]
    cont += 1
  
  return df1

In [26]:
df2 = addData(df1)

In [27]:
def df2db(dbname, tabname, df):
  conn = sqlite3.connect(dbname)
  # df.to_sql(tabname, conn, index = False, if_exists = 'replace')
  df.to_sql(tabname, conn, index = False, if_exists = 'append')
  conn.close()

print(view('lite2.db','store'))
df2db('lite2.db', 'store', df1)
print(view('lite2.db','store'))

[('Wine Glass', 10, 5.0)]
[('Wine Glass', 10, 5.0), ('Sakê', 20, 50.0), ('Pinga', 100, 20.0)]

In [28]:
df2 = tab2df('lite2.db', 'store')
df2

         item  quantity  price
0  Wine Glass        10    5.0
1        Sakê        20   50.0
2       Pinga       100   20.0

In [29]:
def deleteItem(dbname, tabname, item):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  command = "DELETE FROM "+tabname+ " WHERE item=?"
  cur.execute(command,(item,)) # atenção a essa vírgula após "item", sem ela não funciona
  conn.commit()
  conn.close()

In [30]:
print(view('lite2.db','store'))
deleteItem('lite2.db', 'store', 'Sakê')
print(view('lite2.db','store'))

[('Wine Glass', 10, 5.0), ('Sakê', 20, 50.0), ('Pinga', 100, 20.0)]
[('Wine Glass', 10, 5.0), ('Pinga', 100, 20.0)]

In [31]:
def deleteAllItems(dbname, tabname):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  command = "DELETE FROM "+ tabname + ";"
  cur.execute(command)
  conn.commit()
  conn.close()

In [32]:
print(view('lite2.db','store'))
deleteAllItems('lite2.db', 'store')
print(view('lite2.db','store'))

[('Wine Glass', 10, 5.0), ('Pinga', 100, 20.0)]
[]

In [33]:
def deleteTable(dbname, tabname):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  command = "DROP TABLE IF EXISTS "+ tabname
  cur.execute(command)
  conn.commit()
  conn.close()

def showAll(dbname):
  conn = sqlite3.connect(dbname)
  cur = conn.cursor()
  command = "SELECT NAME FROM SQLITE_MASTER WHERE TYPE= 'table'"
  cur.execute(command)
  print(cur.fetchall())
  conn.close()

In [34]:
showAll('lite2.db')
deleteTable('lite2.db', 'store')
showAll('lite2.db')

[('store',)]
[]