<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo11Aula08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Link para o pdf:Link

https://drive.google.com/file/d/1u26KnsYr768kFTtaBkzvCG4gW1cKREko/view

Mini-Projeto: Organizando as operações no banco de dados
Para facilitar a aplicação de certas operações como a adição, a visualização ou mesmo a eliminação de certos registros no banco de dados, pode-se organizar o código em termos de funções.

A seguir será mostrado como criar as seguintes funções nas tabelas de uma base de dados:

Criação de uma tabela e um banco de dados;

1. Inserção de um registro em uma tabela;
2. Visualização dos registros em uma tabela;
3. Transformação em uma tabela de dados;
4. Adição de valores através de uma tabela de dados;
5. Transformação de tabela de dados para tabela de banco de dados;
6. Eliminação de um registro;
7. Eliminação de todos os registros;
8. Eliminação da tabela de um banco de dados.