<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo08Aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
import io

uploaded = files.upload()
file_name = next(iter(uploaded))
file_name

Saving original2.csv to original2.csv

'original2.csv'

In [4]:
import pandas as pd

In [5]:
gfile_name = io.StringIO(uploaded[file_name].decode('ISO 8859-1').strip())
gfile_name

In [6]:
df = pd.read_csv(gfile_name)
df

   ID          Address           City  ...  Country         Name Employees
0   1     3666 21st St  San Francisco  ...      USA      Madeira         8
1   2   735 Dolores St  San Francisco  ...   Brazil  Bready Shop        15
2   3      332 Hill St  San Francisco  ...   Brazil  Super River        25
3   4     3995 23rd St  San Francisco  ...  Germany   Ben's Shop        10
4   5  1056 Sanchez St  San Francisco  ...      USA      Sanchez        12
5   6  551 Alvarado St  San Francisco  ...  Germany   Richvalley        20

[6 rows x 7 columns]

Ou suba tudo para o github e copie o link de "raw", conforme abaixo:

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/julianovale/pythonparatodos/main/original2.csv')
df

   ID          Address           City  ...  Country         Name Employees
0   1     3666 21st St  San Francisco  ...      USA      Madeira         8
1   2   735 Dolores St  San Francisco  ...   Brazil  Bready Shop        15
2   3      332 Hill St  San Francisco  ...   Brazil  Super River        25
3   4     3995 23rd St  San Francisco  ...  Germany   Ben's Shop        10
4   5  1056 Sanchez St  San Francisco  ...      USA      Sanchez        12
5   6  551 Alvarado St  San Francisco  ...  Germany   Richvalley        20

[6 rows x 7 columns]

In [9]:
print(df.columns.ravel())

['ID' 'Address' 'City' 'State' 'Country' 'Name' 'Employees']

In [12]:
mean1 = df['Employees'].mean()
sum1 = df['Employees'].sum()
max1 = df['Employees'].max()
min1 = df['Employees'].min()
count1 = df['Employees'].count()
median1 = df['Employees'].median()
std1 = df['Employees'].std()
var1 = sum1 = df['Employees'].var()

print(mean1)
print(sum1)
print(max1)
print(min1)
print(count1)
print(median1)
print(std1)
print(var1)

15.0
41.6
25
8
6
13.5
6.44980619863884
41.6