<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo04Aula07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame(data = [[4,5],[15,3]],index=['H','M'],columns=['F','C'])
df

    F  C
H   4  5
M  15  3

In [20]:
df.loc[:,'T'] = df.sum(axis=1)
df

    F  C   T
H   4  5   9
M  15  3  18

In [21]:
type(df.loc['H','C'])

numpy.int64

In [22]:
df.loc['Total',:] = df.sum(axis=0)
df

          F    C     T
H       4.0  5.0   9.0
M      15.0  3.0  18.0
Total  19.0  8.0  27.0

In [23]:
type(df.loc['H','C']) # rodou, tranquilo, mas na última soma o tipo do dado que era inteiro mudou para flutuante...

numpy.float64