<a href="https://colab.research.google.com/github/julianovale/pythonparatodos/blob/main/M%C3%B3dulo04Aula06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(data = [[4,5],[15,3]],index=['H','M'],columns=['F','C'])
df

    F  C
H   4  5
M  15  3

In [5]:
soma_linha = df.sum(axis = 1)
print(soma_linha)

H     9
M    18
dtype: int64

In [7]:
soma_coluna = df.sum(axis = 0)
print(soma_coluna)

F    19
C     8
dtype: int64